body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6d8a7d;
  text-align: center;
  color: whitesmoke;
}

.nav{
  padding: 10px 20px;
  text-align: center;
  background:#8fb1a1;
}

.nav h1{
  margin: 10px 0;
}